.solid-button2-container {
  display: flex;
  position: relative;
}
.solid-button2-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-linkedin);
}
.solid-button2-root-class-name {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name1 {
  margin-right: var(--dl-space-space-unit);
}

.solid-button1-container {
  display: flex;
  position: relative;
}
.solid-button1-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-github);
}

.about-me-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-me-top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1630142895963-6996ae6b3a5b?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fG51Y2xlYXJ8ZW58MHx8fHwxNjU5NjgwMjcy&ixlib=rb-1.2.1&w=1500");
  background-position: 0% 40%;
}
.about-me-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-link {
  display: contents;
}
.about-me-logo {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.about-me-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.about-me-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-navlink {
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.about-me-navlink1 {
  font-style: normal;
  font-weight: 500;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.about-me-link01 {
  display: contents;
}
.about-me-component {
  text-decoration: none;
}
.about-me-link02 {
  display: contents;
}
.about-me-component1 {
  text-decoration: none;
}
.about-me-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-burger-menu {
  width: 24px;
  height: 24px;
}
.about-me-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-me-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-me-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-icon03 {
  width: 24px;
  height: 24px;
}
.about-me-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.about-me-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.about-me-text {
  margin-bottom: 8px;
}
.about-me-text01 {
  margin-bottom: 8px;
}
.about-me-text02 {
  margin-bottom: 8px;
}
.about-me-link03 {
  display: contents;
}
.about-me-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.about-me-text04 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-me-text05 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-me-text06 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-me-text07 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-me-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-link04 {
  display: contents;
}
.about-me-icon05 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.about-me-link05 {
  display: contents;
}
.about-me-icon07 {
  width: 24px;
  height: 24px;
}
.about-me-link06 {
  display: contents;
}
.about-me-icon09 {
  width: 24px;
  height: 24px;
}
.about-me-hero {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1000px;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.about-me-text08 {
  left: 32px;
  color: var(--dl-color-gray-white);
  bottom: 0px;
  height: 154px;
  position: absolute;
  font-size: 48px;
}
.about-me-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.about-me-testimonial-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.about-me-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: 48px;
  flex-direction: column;
  justify-content: space-between;
}
.about-me-text09 {
  font-size: 1.5rem;
  font-weight: 600;
}
.about-me-text10 {
  color: var(--dl-color-gray-500);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.about-me-text11 {
  font-size: 1.5rem;
  font-weight: 600;
}
.about-me-text12 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  margin-bottom: 32px;
}
.about-me-image {
  width: 252px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-me-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.about-me-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-container2 {
  width: 200px;
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.about-me-link07 {
  text-decoration: none;
}
.about-me-container3 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.about-me-link08 {
  text-decoration: none;
}
.about-me-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.about-me-text17 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-me-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-link09 {
  display: contents;
}
.about-me-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.about-me-link10 {
  display: contents;
}
.about-me-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.about-me-link11 {
  display: contents;
}
.about-me-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .about-me-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .about-me-right-side {
    display: none;
  }
  .about-me-burger-menu {
    display: flex;
  }
  .about-me-hero {
    justify-content: center;
  }
  .about-me-text08 {
    font-size: 2.5rem;
  }
  .about-me-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-me-testimonial-card {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-me-testimonial {
    margin-right: 32px;
  }
  .about-me-menu {
    flex-direction: column;
  }
  .about-me-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .about-me-container2 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .about-me-navbar {
    height: 92px;
  }
  .about-me-mobile-menu {
    display: none;
  }
  .about-me-text08 {
    font-size: 2rem;
    text-align: center;
  }
  .about-me-testimonial-card {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
  .about-me-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-me-text12 {
    text-align: left;
  }
  .about-me-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about-me-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-me-text13 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-me-container3 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .about-me-link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-me-follow-container1 {
    margin-left: 0px;
  }
}
