.solid-button2-container {
  display: flex;
  position: relative;
}
.solid-button2-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-linkedin);
}
.solid-button2-root-class-name {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name1 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name2 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name3 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name4 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name5 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name6 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name7 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name8 {
  margin-right: var(--dl-space-space-unit);
}
.solid-button2-root-class-name9 {
  margin-right: var(--dl-space-space-unit);
}
@media(max-width: 479px) {
  .solid-button2-root-class-name5 {
    margin-top: var(--dl-space-space-unit);
  }
  .solid-button2-root-class-name6 {
    margin-top: var(--dl-space-space-unit);
  }
  .solid-button2-root-class-name7 {
    margin-top: var(--dl-space-space-unit);
  }
  .solid-button2-root-class-name8 {
    margin-top: var(--dl-space-space-unit);
  }
  .solid-button2-root-class-name9 {
    margin-top: var(--dl-space-space-unit);
  }
}
